:root {
  --White: #f9f9f9;

  --font: "Outfit", sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--font);
  background-image: radial-gradient(
    circle farthest-corner at 92.3% 71.5%,
    rgba(83, 138, 214, 1) 0%,
    rgba(134, 231, 214, 1) 90%);
    margin: 0;
 
}
a {
  text-decoration: none;
}

h1 {
  color: var(--White);
  font-weight: 600;
  font-size: 3rem;
  margin: 5 0;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 768px) { 
  h1 {
    font-size: 5rem;
  }
}

img {
  max-width: 100%;
  display: block;
}

main {
  min-height: 90vh
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;

  
}

.container_description {
  font-size: 1.5rem;
  margin: 2rem 0;
  text-align: center;
}

/* card info */
.card {
  width: 25rem;
  height: 30rem;
  border-radius: 1rem;
  box-shadow: -2px 0px 17px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 0px 17px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 0px 17px 0px rgba(0, 0, 0, 0.75);
  margin: 0;
  text-align: center;
}
@media (min-width: 768px) {
  .card {
    width: 35rem;
    height: 31rem;
  }
}
.card_title h2 {
  padding-top: 2rem;
  text-align: center;
  font-size: 2rem;
  color: var(--White);
  font-weight: 400;
}

.card_info img {
  margin: 0 auto;
}

.card_info p {
  font-size: 8rem;
  font-weight: 400;
  color: var(--White);
  margin: 0;
}

.card_description {
  font-size: 1.5rem;
  color: var(--White);
  margin: 0;
  text-transform: capitalize;
}

.card_temp {
  display: flex;
  gap: 1rem;
  justify-content: center;
  font-size: 1.6rem;
  color: white;
}
@media (min-width: 768px) {
  .card_temp {
    font-size: 2rem;
  }
}

/* form */
.card_form {
  width: 35rem;
  height: 18rem;
  background-color: #efefef;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 2px solid #E8E8E8;
}

@media (min-width: 768px) {
  .card_form {
    width: 45rem;
    height: 17rem;
  }
}

form input,
select {
  width: 100%;
}

input, select {
  border: 2px solid #E8E8E8;
  padding: .2rem;
  border-radius: .5rem;
}

.form_country {
  margin: 1rem 0;
}
.form_submit {
  background-color: #7fbcd2;
  border-radius: 1rem;
  width: 100%;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.5rem;
  border: 2px solid #E8E8E8;
}


footer {
  
  color:var(--White);
  gap: 2rem;
  background-color: #689eb1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  margin-top: 2rem;
}


footer p {
  text-align: center;
  font-size: 2rem;
  

}

footer i {
  color: var(--White);
  font-size: 2rem;
  padding: 0 .5rem;
}



body.drizzle {
  background-image: linear-gradient( 109.6deg,  rgba(48,207,208,1) 11.2%, rgba(51,8,103,1) 92.5% );
}
body.thunderstorm {
  background-image: linear-gradient( 76.3deg,  rgba(44,62,78,1) 12.6%, rgba(69,103,131,1) 82.8% );
}

body.snow {
  background-image: linear-gradient( 111.5deg,  rgba(254,210,255,1) -7.2%, rgba(115,9,112,1) 100.2% );
}


body.cloud  {
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(171,102,255,1) 0%, rgba(116,182,247,1) 90% );

}  
body.clear {
  background-image: linear-gradient( 64.3deg,  rgba(254,122,152,0.81) 17.7%, rgba(255,206,134,1) 64.7%, rgba(172,253,163,0.64) 112.1% );
}

body.rain {
  background: rgb(2,0,36);
background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.8393951330532212) 24%, rgba(0,212,255,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.8393951330532212) 24%, rgba(0,212,255,1) 100%);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.8393951330532212) 24%, rgba(0,212,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
}

/* spinner */

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: var(--White);
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}